/*Valmis koodipaketti, asettelut ja arvot muutettu*/
/*Tämä on testi*/
.workingHistory {
    max-width: 60em;
    height: auto;
    margin: 1em auto;
    padding: 1em;
    border-radius: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #2b2b2b;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  
  .container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
  }
  
  .container.left {
    left: 0;
  }
  
  .container.right {
    left: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid #2b2b2b;
    border-radius: 16px;
    z-index: 1;
  }
  
  .container.right::after {
    left: -8px;
  }
  
  .container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: #5e5e5e;
    z-index: 1;
  }
  
  .container.right::before {
    left: 8px;
  }
  
  .container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #2b2b2b;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }
  
  .container.left .date {
    right: -75px;
  }
  
  .container.right .date {
    left: -75px;
  }
  
  .container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #ffffff; /* tässä iconien tausta */
    border: 2px solid #2b2b2b; /* tässä iconien borderit */
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: #2b2b2b; /* tässä iconien värit */
    z-index: 1;
  }
  
  .container.left .icon {
    right: 56px;
  }
  
  .container.right .icon {
    left: 56px;
  }
  
  .container .content {
    padding: 30px 90px 30px 30px;
    background: #2b2b2b;        /* Tekstin containeri */
    position: relative;
    border-radius: 50px 500px 500px 50px;
    transition: all 0.5s ease 0s;
  }

  .content:hover {
    background: #5e5e5e;    
  }
  
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 50px 50px 500px;
  }
  
  .container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff; /* Otsikoiden väri */
  }
  
  .container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff; /* tekstin väri */
  }
  
  @media (max-width: 767.98px) {
    .timeline::after {
      left: 90px;
    }
  
    .container {
      width: 100%;
      padding-left: 120px;
      padding-right: 30px;
    }
  
    .container.right {
      left: 0%;
    }
  
    .container.left::after, 
    .container.right::after {
      left: 82px;
    }
  
    .container.left::before,
    .container.right::before {
      left: 100px;
      border-color: transparent #353535 transparent transparent;
    }
  
    .container.left .date,
    .container.right .date {
      right: auto;
      left: 15px;
    }
  
    .container.left .icon,
    .container.right .icon {
      right: auto;
      left: 146px;
    }
  
    .container.left .content,
    .container.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 500px 50px 50px 500px;
    }
  }